<div class='wrap wrap-dark'>
  <section class='section colors'>
    <div class='org__color'>
      <div class='mol__color'>
        <div class='atm__color {{ className }}'>
          <div class='atm__color figure'>
            {{ className }}<br>
            {{ sassName}}<br>
            {{ color }}<br>
          </div>
        </div>
      </div>
      <div class='mol__color'>
        <div class='atm__color {{ className-main }}'>
          <div class='atm__color figure'>
            {{ className-main }}<br>
            {{ sassName-main}}<br>
            {{ color-main }}<br>
          </div>
        </div>
      </div>
      <div class='mol__color'>
        <div class='atm__color {{ className-accent }}'>
          <div class='atm__color figure'>
            {{ className-accent }}<br>
            {{ sassName-accent}}<br>
            {{ color-accent }}<br>
          </div>
        </div>
      </div>
  </section>
</div>