<div class='rap'>
  <div class='section'>
    <div class="{{class}}_lay">
      <div class="{{class}}_org {{ variation }}">
        <div class="{{class}}_mol titleArea">
          <h{{ head }} class="{{class}}_title">
            {{dummyTitle}}
          </h{{ head }}>
        </div>
        <div class="{{class}}_mol textArea">
          <p class="{{class}}_text">
            {{dummyText}}
          </p>
        </div>
        <div class="{{class}}_mol buttonArea end">
          <button class='btn success normal'>
            <a href='#' class='size-sm'>
              {{button}}
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>