<div class='wrap'>
    <div class='section'>
        <div class='plate'>
            <div class='plate_lay'>
                <div class="plate_org {{plate_style}}">
                    <div class="plate_mol {{plate_textArea}}">
                        <h3 class="plate_atm {{plateTitle}}">
                            {{!-- {{plateTitle_text}}
                            --}}
                            {{_config.project.title}}
                        </h3>

                        <p class="plate_atm {{plateText}}">
                            dummy
                        </p>
                        <a href='#' class='btn btn-primary'>
                            Go somewhere
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>